<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/haed.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>

    <main>

      <section class="gameSec">
        <img  src="http://drive.google.com/uc?export=view&id=<%=objgame.gameImage%>" alt="">
        

     <div >
         <div>
           <div>
             <h1> <%= objgame.name %>  </h1>
             <h4>  <%= objgame.category %></h4>
           </div>
            <h2><%= objgame.body %> </h2>
          </div>
          <a target="_blank" href=" <%= objgame.gamefile %> ">Download</a>
        
     </div>
   

      </section>
    <form class="add-comment">
        <input name="comment" id="comment"  placeholder="comment" type="text">
<div>
        <h3>select from 1 to 10</h3>  <input id="num" max="10" min="1" type="number">
</div>
      <button>Send</button>
    </form> 


      <section class="comment">
<h1 style="display: none;" id="username"> <%= username %></h1>    
<h1 id="username1"></h1>
<% resultCom.forEach(itemCom => { %>
   
      <div>


           <h3> <%= itemCom.username %></h3>
           <h4>from 1 to 10 i give it ( <%= itemCom.num%>) </h4>
           <h2> <%= itemCom.comment%></h1>

      </div>
<% }); %> 
 
      </section>



    </main>
<script defer>
  
  const form = document.querySelector("form");

const username = document.getElementById("username").innerText
      

      form.addEventListener("submit", registerUser);

      async function registerUser(event) {
        event.preventDefault();
const username = document.getElementById("username").innerText
        const num = document.getElementById("num").value
const comment = document.getElementById("comment").value
        const result = await fetch("/api/comment", {
       
          method: "POST",
          headers: { "content-Type": " application/json" },
          body: JSON.stringify({
            comment,
            num, 
            username
          }),
        }).then((response)=> response.json())}
</script>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
